<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            .header {
            padding: 10px 16px;
            background: #99ccff;
            color: #000000;
            }

            .content {
            padding: 16px;
            }

            .sticky {
            position: fixed;
            top: 0;
            width: 100%
            }

            .sticky + .content {
            padding-top: 102px;
            }
        </style>
    </head>
    <body>
        <div class="header" id=myHeader">
        <h1> Odaia Cu Podoabe </h1>
        </div>

        {% for product in product_list %}
        <h4>Nume : {{ product.name }}</h4>
        <h4>Pret : {{ product.price }}</h4>
        <h4>Descriere : {{ product.description }}</h4>
        <img src="{{MEDIA_URL }}{{ product.image.url}}" width="200px">
    {% endfor %}

    </body>
</html>