<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            .header {
            padding: 10px 16px;
            background: #99ccff;
            color: #000000;
            }

            .content {
            padding: 16px;
            }

            .sticky {
            position: fixed;
            top: 0;
            width: 100%
            }

            .sticky + .content {
            padding-top: 102px;
            }
        </style>
    </head>
    <body>
        <div class="header" id=myHeader">
        <h1> Odaia Cu Podoabe </h1>
        </div>
    </body>
</html>