<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Odia Cu Podoabe</title>
    </head>
    <body>
        <h2> Details </h2>

    id: {{ product_detail.id }}<br/>
    name: {{ product_detail.name }}<br/>
    price: {{ product_detail.price }}<br/>
    <img src="{{ MEDIA_URL }}{{ product_detail.image.url }}" width="500px">
    <br>

        <a href="{% url 'products:product_update' product_detail.pk %}">Update product</a>
        <a href="{% url 'products:product_delete' product_detail.pk %}">Delete product</a>


    <button><a href="/products/products_list">Înapoi la lista produselor</a></button>
    </body>
</html>