{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Produse {% endblock title %}</title>
</head>
{% block content %}
<body>
        <table style="width:50%">
            <thead style="text-align:justify">
                <tr>
                    <th> ID </th>
                    <th> Nume </th>
                    <th> Pret </th>
                    <th> Descriere</th>
                    <th> Image </th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_list %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.description}}</td>
                        <td><img src="{{ MEDIA_URL }}{{ product.image.url }}" width="70px"></td>
                        <td>
                            <button type="button"> <a href="#"> Modifică</a></button>
                        </td>
                        <td>
                            <button type="button"><a href="{% url 'products:product_detail' product.id %}"> Detalii </a> </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button"><a href="/products/create_product">Adauga un produs</a></button>
</body>
{% endblock content %}
