{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <div class=content>
        <!-- <img width="100px" src="{% static 'img/ocp.jpg' %}" alt="Imaginea de background"> -->
        {% if not user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend> Inscrie-te acum</legend>
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <div class='form-group'>
                    <button class='sign-up button' type="submit"> Inregistreaza-te </button>
                </div>    
            </fieldset>     
            
        </form>    
        <small> Ai cont deja? <a href="{% url 'login_view' %}"> Intra in cont </a></small>
        {% endif %}
        {% if user.is_authenticated %}
        <h2>Ești deja inregistrat cu numele de utilizator <strong>{{ request.user }}</strong></h2>
        {% endif %}
    </div>
{% endblock content %}}
