<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Produse Hand-made">
    <meta name="robots" content="index,follow">  <!--the searche engine crawler will follow al links in the page-->
    <title>Odaia Cu Podoabe {% block title %} - Welcome{% endblock title %}</title>
</head>
<body>
    <div class="base-content-div">
        <h1>Lista produse</h1>
        {% block content %}
        {{ home }}
        {% endblock %}
    </div>
</body>
</html>