.button-categ {
  margin: auto;
  width: 100%;
  color: blueviolet;
  background-color: #c8e4fe;
  border-radius: 20px;
  border-width: 1px;
  font-weight: bold;
}

.button-categ:hover {
  background-color: cornflowerblue;
  color: rgb(207, 240, 147);
  border-width: 1px;
}

#buttons-container-div {
  border: solid rgb(151, 187, 240);
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: cornflowerblue;
  margin-bottom: 5px;
}

#navbar-div {
  margin-bottom: 5px;
  background-color: rgb(153, 82, 235) !important;
}

#profile-div {
  margin-left: 5rem;
  margin-right: 5rem;
}

.back-button {
  margin: auto;
  border-radius: 20px;
}

.back-button:hover {
  background-color: cornflowerblue;

  border-width: 1px;
}

#back-button-link {
  text-decoration: none;
  font-weight: bold;
  padding: 7px;
}

#back-button-link:hover {
  color: #c8e4fe;
}

#logo-icon {
  margin: auto;
  margin-left: 5rem;
}

#detail-view-price {
  margin: auto;
  text-align: center;
  font-size: x-large;
  margin-bottom: 10px;
}

#product-detail-name {
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
}
