.welcome_body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}
body {
  background-image: url("bg_pic.png");
}

.enter-button {
  background-color: #c8e4fe;
  border: None;
  color: black;
  padding: 10px, 10px;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  font-family: sans-serif;
  display: inline;
  font-size: 250%;
  margin: 50px, 50px;
  cursor: pointer;
  position: absolute;
  align-self: center;
  width: 350px;
  height: 100px;
  border-radius: 30%;
}

.user_form {
  margin: auto;
  text-align: justify;
}

.content-register {
  margin-left: 30px;
  margin-top: 10px;
  width: 450px;
  height: inherit;
  background-color: #c8e4fe;
  padding: 20px;
  border: rgb(14, 51, 51);
  border-radius: 3%;
  border-width: 10px;
  text-align: center;
}

.form-group .sign-up button {
  color: blueviolet;
  text-transform: capitalize;
}

.form-group {
  width: 100%;
  border-width: 10px;
}

.inscrie {
  text-align: center;
}
