{% extends "products/base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}" />
{% endblock style %} {% block content %} {% if not user.is_authenticated %}
<div id="body-login">
  <div class="container" style="opacity: 0.75">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" id="row-2">
        <div class="card card-signin my-5" id="row-3">
          <div class="card-body" id="login-card-body">
            <h5 class="card-title text-center">Log In</h5>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input
                  name="username"
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Introdu un nume de utilizator"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Parola</label>
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Introdu parola ta"
                />
              </div>
              <small>
                Nu ai cont?
                <a href="{% url 'register' %}"> Crează-ți unul </a></small
              >
              <button type="submit" class="btn btn-primary" id="login-button">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% if user.is_authenticated %}
<h1>
  Esti deja logat!
  <a href="{% url 'products:product_list' %}">Vezi lista produselor</a>
</h1>
{% endif %} {% endblock content%}
