
{% extends "products/base.html" %}
{% block content %}
<div class="container-fluid" style="height:70%">
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in product_list %}
  <div class="col">
    <div class="card h-100">
        <a href=" {% url 'products:product_details' product.id %}">
            <img src="{{ MEDIA_URL }}{{ product.image.url }}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
        </div>
        <div class="card-footer ">
            <p>Preț: {{product.price}} RON </p>
        </div>
    </div>
  </div>
      {% endfor %}
</div>
</div>

{% endblock %}

