{% extends 'products/base.html' %}

{% block title %} - Adauga produs {% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3><legend>Nume</legend>{{form.name}} </h3>
        <h3><legend>Preț</legend>{{form.price}} </h3>
        <h3><legend>Descriere</legend>{{form.description}} </h3>
        <h3><legend>Încarcă o imagine</legend>{{form.image}} </h3>
        <h3><legend>Alege o culoare</legend>{{form.color}}</span>
        </h3>
        <input type="submit" value="Create"><hr>
        <button><a href="/products/products_list">Înapoi la lista produselor</a></button>
    </form>
{% endblock content %}